.circus_scene{
    position: absolute;
    background-image:url(/bilder/click/circus_scene.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    scale:1.055;
    display: none;
    background-repeat:no-repeat;
    margin-top: 6%;
}

.tent{
    position: absolute;
    width: 22.8%;
    height: 28%;
    left: 36.8%;
    top: 0%;
    cursor: pointer;
    opacity: 0; 
}
.tent:hover{
    opacity: 1; 
}
.sign3{
    position: absolute;
    width: 24%;
    height: 44%;
    left: -0.4%;
    top: 37%;
    cursor: pointer;
    opacity: 0;  
}
.sign3:hover{
    opacity: 1;  
}
.apartment{
    position: absolute;
    width: 18%;
    height: 56%;
    left: 76.5%;
    top: 7.5%;
    cursor: pointer;
    opacity: 0; 
}
.apartment:hover{
    opacity: 1; 
}