.circus_scene{
    position: absolute;
    background-image:url(/bilder/click/circus_scene.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    scale:1.055;
    display: none;
    background-repeat:no-repeat;
    margin-top: 6%;
}

.tent{
    position: absolute;
    width: 22.8%;
    height: 28%;
    left: 36.8%;
    top: 0%;
    cursor: pointer;
    opacity: 0; 
}
.tent:hover{
    opacity: 1; 
}
.sign3{
    position: absolute;
    width: 24%;
    height: 44%;
    left: -0.4%;
    top: 37%;
    cursor: pointer;
    opacity: 0;  
}
.sign3:hover{
    opacity: 1;  
}
.apartment{
    position: absolute;
    width: 18%;
    height: 56%;
    left: 76.5%;
    top: 7.5%;
    cursor: pointer;
    opacity: 0; 
}
.apartment:hover{
    opacity: 1; 
}

.tent_scene{
    position: absolute;
    background-image:url(/bilder/click/tent_scene.webp);
    height: 100%;
    width: 100%;
    background-size: contain;
    scale:1.2;
    display: none;
    background-repeat:no-repeat;
    margin-top: 7%;
}

.hot_clown_sprite{
    opacity: 1;
    position: absolute;
    width: 15%;
    height: 47%;
    left: 24%;
    top: 36%;
    cursor: pointer;
}
.hot_clown_sprite_S{
    opacity: 0;
    position: absolute;
    width: 15%;
    height: 47%;
    left: 24%;
    top: 36%;
    cursor: pointer;
}
.hot_clown_sprite_S:hover{
    opacity: 1;
}
.back_circus{
    position: absolute;
    width: 10%;
    height: 12%;
    left: 10%;
    top: 68%;
    cursor: pointer;
}
.back_circus:hover{
    width: 11%;
    height: 13%;
    left: 9.5%;
    top: 67.5%;
}